#about-main {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

#carousel-page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,0.4);
  margin-top: 5%;
}

.gear-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.about-gear {
  width: 18vw;
  position: absolute;
  top: 0;
  z-index: -1;
}

.gear-expandable-spacer {
  /* width: 100%; */
  height: 10vmin;
}

.expandable {
  width: 78vw;
  padding: 2%;
  text-align: center;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border-radius: 20px;
  border: 2px solid #2E9D29;
}
.expanded {
  width: 78%;
  padding: 2%;
  text-align: center;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border-radius: 20px;
  border: 2px solid #2E9D29;
}

.expandable>p {
  width: 90%;
}
.expanded>p {
  width: 90%;
}

#about-book-btn {
  width: 8vmin;
}

#listen-btn {
  width: 8vmin;
}

#gear-music {
  align-self: flex-start;
  left: 1%;
}

#gear-artist {
  align-self: flex-end;
  right: 1%;
}


.moreLess {
  color: #2E9D29;
  text-decoration: underline;
  cursor: pointer;
}


@media screen and (max-width: 1200px) {
  .expandable {
    width: 70%;
    font-size: 20px;
  }
  .expanded {
    width: 70%;
    font-size: 20px;
  }

  .gear-expandable-spacer {
    height: 11vmin;
  }

  #about-book-btn {
    width: 10vmin;
  }
  
  #listen-btn {
    width: 10vmin;
  }

  #gear-music {
    left: 0%;
  }
  
  #gear-artist {
    right: 0%;
  }

  .about-gear {
    width: 28vw;
  }
}

@media screen and (max-width: 600px) {
  .expandable {
    width: 75%;
    font-size: 14px;
    border: 2.5px solid #2E9D29;
    position: relative;
    top: 2vh;
  }
  .expanded {
    width: 75%;
    font-size: 14px;
    border: 2.5px solid #2E9D29;
    position: relative;
    top: 2vh;
  }

  .about-gear {
    width: 35vmin;
  }

  #about-book-btn {
    width: 16vmin;
  }
  
  #listen-btn {
    width: 16vmin;
  }

  #expandable-music {
    align-self: flex-end;
    right: 5%;
  }

  #expanded-music {
    position: relative;
    align-self: flex-end;
    right: 5%;
  }

  #expandable-artist {
    position: relative;
    align-self: flex-start;
    left: 5%;
  }

  #expanded-artist {
    position: relative;
    align-self: flex-start;
    left: 5%;
  }

  #music-div {
    padding-bottom: 5%;
  }

  #artist-div {
    padding-bottom: 5%;
  }
}

@media screen and (min-width: 2100px) {
  .expandable {
    font-size: 28px;
  }

  .expanded {
    font-size: 28px;
  }

  .gear-expandable-spacer {
    height: 13vmin;
  }
}

/* @media screen and (max-width: 900px) {

  #about-main {
    color: black;
    margin-top: 0vh;
    padding-bottom: 14vh;
    height: 100%;
    width: 100%;
    padding-bottom: 17%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #carousel-page-container {
    height: 35vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mobile-only {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100vw;
    padding-bottom: 10vh;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: justify;
  }

  .mobile-text {
    display: inline;
    margin: 1vmin;
  }

  .mobileTxt-container {
    display: block;
    margin: 5vmin;
  }


  .gear-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .gear {
    display: block;
    max-height: 20vh;
    margin: 0;
  }

  #right-gear {
    justify-self: right;
  }

} */