#book-main {
  margin-top: 0;
  height: 100vh;
  width: 100vw;
  /* padding-bottom: 8vh; */
}

#book-back-container {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 82vh;
  background-image: url('./bookingBackground.png');
  background-size: cover;
}

#book-body-container-right {
  /* margin-top: 8vh; */
  width: 50%;
  height: 80vh;
  position: absolute;
  right: 0;
  top: 20%;
  /* left: 0; */
  /* padding-top: 5vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1vmin;
}

#book-body-container-left {
    /* margin-top: 8vh; */
    width: 45%;
    height: 80vh;
    position: absolute;
    left: 0;
    top: 20%;
    /* left: 0; */
    /* padding-top: 5vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1vmin;
}


.bookings-div {
  max-width: 65%;
  padding: 1vmin;
  text-align: center;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border-radius: 20px;
  border: 2px solid #2E9D29;
  position: relative;
  z-index: 5;
}

.upcoming-show-image {
  max-width:100%;
  height:auto;
  border-radius: 10%;
}
#upcoming-show>h1 {
  margin: 0;
  font-size: 32px;
  font-weight: 800;
  margin-top: 1vmin;
}

#upcoming-show>a {
  color: black;
  margin-bottom: 1vmin;
}

#upcoming-show>a:hover {
  color: #2E9D29;
}

#blob-book>p {
  width: 100%;
}

.loc-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loc-link {
  text-decoration: none;
  color: black;
}

.loc-link:hover {
  text-decoration: underline;
  color: #2E9D29;
}

.loc-txt {
  margin: 2% 0;
}

#book-btn-container {
  width: 100%;
  text-align: center;
}

#book-page-btn {
  max-width: 30%;
}

#book-body-container>a {
  text-align: center;
}

@media screen and (max-width: 1600px) {
  #book-back-container {
    height: 80vh;
  }

  #book-body-container-left {
    width: 40%;
    left: 5%;
  }
  #book-body-container-right {
    width: 40%;
    right: 5%;
    gap: 5vmin;
  }

  .bookings-div {
    max-width: 90%;
  }

  /* #blob-book {
    max-width: 100%;
    font-size: 24px;
  } */

  #book-page-btn {
    max-width: 60%;
  }
}
@media screen and (max-width: 900px) {
  #book-back-container {
    height: 80vh;
  }

  #book-body-container-left {
    width: 55%;
    left: 0;
    top: 15%;
    /* gap: 5vmin; */
  }
  #book-body-container-right {
    width: 55%;
    right: 0;
    top: 0;
    /* bottom: 20%; */
    justify-content: flex-end;
    /* gap: 5vmin; */
  }

  /* #blob-book {
    max-width: 100%;
    font-size: 20px;
  } */

  #book-page-btn {
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {

  .bookings-divs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #book-back-container {
    height: 77vh;
  }

  #book-body-container-left{
    width: 90%;
    left:0;
    margin-bottom: 20px;
  }

  #book-body-container-right {
    width: 90%;
    left: 0;
    margin-top: 20px;
  }

  #upcoming-show>h1 {
    font-size: 22px;
  }

  #upcoming-show>p {
    font-size: 14px;
  }

  #upcoming-show>a {
    font-size: 16px;
  }

  #blob-book {
    font-size: 14px;
  }

  /* .loc-txt {
    font-size: 12px;
  } */

  /* #book-btn-container {
    height: 77vh;
    padding-bottom: 10%;
  } */

  /* #book-page-btn {
    max-width: 80%;
  } */
}