#book-main {
  margin-top: 0;
  height: 100vh;
  width: 100vw;
  padding-bottom: 8vh;
}

#book-back-container {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 82vh;
  background-image: url('./bookingBackground.png');
  background-size: cover;
}

#book-body-container {
  margin-top: 8vh;
  width: 50%;
  height: 74vh;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vmin;
}



#blob-book {
  /* background-image: url('./bookBlob.png');
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 30vh;
  min-width: 30vw;
  text-align: center;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  max-width: 75%;
  padding: 1vmin;
  text-align: center;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border-radius: 20px;
  border: 2px solid #2E9D29;
}

#blob-book>p {
  width: 100%;
}

.loc-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#book-btn-container {
  width: 100%;
  text-align: center;
}

#book-page-btn {
  max-width: 30%;
}

#book-body-container>a {
  text-align: center;
}

@media screen and (max-width: 900px) {
  #book-back-container {
    height: 95vh;
    /* max-height: 90vh; */
    background-size: cover;
  }

  #book-body-container {
    margin-top: 8vh;
    width: 100%;
    height: 82vh;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content:  center;
    gap: 1vh;
    padding: 10vmin 5vmin;
  }

  #blob-book {
    max-width: 60%;
    /* padding: 1vmin; */
    /* text-align: center; */
    font-size: 16px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-radius: 20px;
    border: 5px solid #2E9D29; */
    margin-bottom: 1%;
  }

  #book-btn-container {
    padding-bottom: 7%;
  }

  #book-page-btn {
    max-width: 70%;
  }
  
  
  /* #book-page-btn {
    width: 100%;
    margin-top: 50%;
  } */



  /* #blob-book {
    margin-top: 5%;
    min-width: 60vw;
    min-height: 20vh;
    justify-self: flex-start;
    align-self: flex-start;
  } */
}

@media screen and (max-width: 600px) {
  #blob-book {
    font-size: 12px;
  }

  .loc-txt {
    font-size: 12px;
  }

  #book-btn-container {
    padding-bottom: 10%;
  }

  #book-page-btn {
    max-width: 80%;
  }
}