#landing-main {
  /* min-height: 100%; */
  margin: 0;
  /* padding-bottom: 17vmin; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  /* padding-top: 10vh; */
}

.landing-background {
  /* background-color: red; */
  height: 81%;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: -5;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  /* top: 5vmin; */
  top: 0;
  /* bottom: 0; */
  text-align: center;
  padding-top: 7vh;
  padding-bottom: 15vh;
  padding-left: 5vh;
}

#backBack {
  /* display: flex; */
  /* justify-content: flex-start; */
  /* align-items: flex-start; */
  /* padding: 5%; */
}

#landing-img {
  max-height: 80vh;
  max-width: 100vw;
  /* position: relative; */
  z-index: -5;
  /* top: 5vh; */
  left: 5vw;
  /* padding-top: 5vh; */
  /* margin-top: 5vh; */
}

/* #landingBackImg {
  position: relative;
  max-width: 35%;
  z-index: -6;
  top: 0;
  left: 0;
  border-radius: 40px;
  border: 5px solid #2E9D29;
} */

#spenceGear {
  /* position: absolute;
  max-width: 55%;
  z-index: -6;
  top: 0;
  left: -5%; */
  /* position: relative;
  max-width: 55%;
  min-width: 40%;
  z-index: -6;
  top: -10%;
  left: 5%; */
}


#splashTxt-container {
  /* z-index: 5; */
  /* position: absolute; */
  /* top: 160%; */
  /* right: 20%; */
  /* color: black; */
  /* background-color: red; */


  width: 50%;
  /* height: 100vmin; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5%;
}

#splash-title {
  font-size: 52px;
  font-weight: 900;
  margin: 0;
}

#splashTxt {
  font-weight: 400;
  font-size: 24px;
  margin: 2.5%;
}

#splashTxt-container> * {
  color: black;
}

/* #bookBtn {
  border-radius: 15px;
  width: 20vw;
  height: 5vh;
  font-size: 3.5vh;
  background-color: #BBCDB5;
  border-color: #2E9D29;
  box-shadow: 0 10px #2E9D29;
} */

#book-btn {
  max-width: 60%;
  margin: 2.5%;
}

.musicLink {
  min-width: 6vmin;
  max-width: 10vmin;
}


#musicLink-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}



@media screen and (max-width: 900px) {

  /* #landing-main {
    min-height: 100vh;
    margin: 0;
    padding-top: 8%;
    padding-bottom: 14%;
    position: relative;
  } */
  

  /* #landing-img {
    max-width: 100%;
    position: absolute;
    z-index: -1;
    top: 35%;
  } */

  /* #splashTxt-container {
    z-index: 3;
    position: absolute;
    top: 42%;
    right: 20%;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  } */
  
  /* #splash-title {
    font-size: 5vmin;
    font-weight: 900;
    margin: 0;
  } */
  
  /* #splashTxt {
    font-weight: 400;
    font-size: 2.5vmin;
  } */
  
  /* #splashTxt-container> * {
    color: black;
  } */
  
  
  /* #book-btn {
    width:30vmin;
  } */


}