#album-main {
  /* padding-top: 8vh; */
  /* padding-bottom: 18vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100%;
  /* overflow-y: scroll;
  overflow-x: hidden; */
}

#embed-div {
  width: 100%;
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}

#embed-title {
  padding-bottom: 2%;
}

#embed-title>h1 {
  font-size: 52px;
  margin: 0;
}

#embed-title>p {
  font-size: 24px;
  margin: 0;
  margin-top: 2%;
}

#embed-container {
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  /* position: sticky; */
  /* padding: 5% 0; */
}

/* #embedLeft {
  position: absolute;
  z-index: -2;
  max-height: 100%;
  left: 20%;
  top: -20%;
}
#embedRight {
  position: absolute;
  z-index: -2;
  max-height: 100%;
  right: 18%;
  top: 0%;
} */

#embeddedXS {
  display: none;
}

#embeddedXL {
  max-width: 80%;
  min-height: 25vh;
  max-height: 35vh;
}

#musicLink-container-a {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  min-width: 30%;
  max-width: 50%;
  padding-top: 2%;
}

.musicLink-a {
  min-width: 6vmin;
  max-width: 10vmin;
}


#about-album-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 2%;
  margin-bottom: 5%;
}



#about-album-container {
  /* margin-bottom: 40%; */
  /* height: 30vh; */
  /* position: relative; */
}

#about-album-container>h1 {
  font-size: 52px;
  padding-bottom: 2%;
}

/* #album-left {
  position: absolute;
  z-index: -2;
  max-width: 54%;
  left: 18%;
  top: -20%;
}
#album-right {
  position: absolute;
  z-index: -2;
  max-width: 50%;
  right: 3%;
  bottom: 5%;
} */

#album-carousel-container {
  width: 100%;
  /* position: absolute;
  z-index: 1;
  left: -10%;
  top: 70%; */
  /* overflow: hidden; */
  /* padding-bottom: 10%; */
  margin-bottom: 2%;
}

#album-info {
  /* width: 25%; */
  max-width: 60%;
  font-size: 24px;
  background-color: white;
  padding: 10px;
  margin: 0;
  border-radius: 25px;
  box-shadow: 3px 5px 5px 1px #000000aa;
  /* position: absolute;
  top: 125%;
  right: 22%;
  z-index: 2; */
  border: 2px solid #2E9D29;
}

#album-info>p {
  margin: 10px;
}

@media screen and (max-width: 900px) {
  #embed-title>h1 {
    font-size: 48px;
  }
  
  #about-album-container {
    margin-top: 5%;
  }

  #about-album-container>h1 {
    margin: 0;
    font-size: 48px;
    padding-bottom: 5%;
  }

  #album-info {
    max-width: 80%;
    font-size: 16px;
    margin-bottom: 5%;
  }

  #album-carousel-container {
    margin-bottom: 5%;
  }


}

@media screen and (max-width: 600px) {
  #embed-title>h1 {
    font-size: 36px;
  }

  #embed-title>p {
    font-size: 21px;
  }

  #embeddedXL {
    display: none;
  }

  #embeddedXS {
    display: block;
    max-width: 90%;
  }

  #about-album-container>h1 {
    font-size: 36px;
    padding-bottom: 5%;
  }

  #album-info {
    max-width: 90%;
    font-size: 12px;
  }
}