#album-main {
  padding-top: 8vh;
  padding-bottom: 18vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#embed-div {
  width: 100%;
  position: relative;
}

#embed-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: sticky;
  padding: 5% 0;
}

#embedLeft {
  position: absolute;
  z-index: -2;
  max-height: 100%;
  left: 20%;
  top: -20%;
}
#embedRight {
  position: absolute;
  z-index: -2;
  max-height: 100%;
  right: 18%;
  top: 0%;
}

iframe {
  width: 50%;
  margin-top: 1%;
}

#about-album-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#musicLink-container-a {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.musicLink-a {
  width: 100%;
}

.iHeartLink-a {
  width: 100%;
}

#about-album-container {
  width: 100%;
  margin-bottom: 40%;
  height: 30vh;
  position: relative;
}

#album-left {
  position: absolute;
  z-index: -2;
  max-width: 54%;
  left: 18%;
  top: -20%;
}
#album-right {
  position: absolute;
  z-index: -2;
  max-width: 50%;
  right: 3%;
  bottom: 5%;
}

#album-carousel-container {
  width: 100%;
  position: absolute;
  /* z-index: 1;  this was causing issues  */
  left: -10%;
  top: 70%;
  overflow: hidden;
  padding-bottom: 10%;
}

#album-info {
  width: 25%;
  font-size: 1.4vw;
  background-color: white;
  padding: 10px;
  margin: 0;
  border-radius: 25px;
  box-shadow: 3px 5px 5px 1px #000000aa;
  position: absolute;
  top: 125%;
  right: 22%;
  z-index: 2;
}

#album-info>p {
  margin: 10px;
}

@media screen and (max-width: 900px) {

  #embed-container {
    min-height: 40vh;
  }

  iframe {
    width: 80%;
    height: 25vh;
    margin-top: 5%;
  }

  #embedLeft {
    position: absolute;
    z-index: -2;
    max-height: 90%;
    left: -4%;
    top: -20%;
  }
  #embedRight {
    position: absolute;
    z-index: -2;
    max-height: 100%;
    right: -10%;
    top: 0%;
  }

  #about-album-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 130%;
  }

  #album-left {
    position: absolute;
    z-index: -2;
    max-width: 54%;
    left: 10%;
    top: -15%;
  }
  #album-right {
    position: absolute;
    z-index: -2;
    max-width: 50%;
    right: 0%;
    bottom: 20%;
  }
  
  #album-carousel-container {
    width: 100%;
    position: absolute;
    left: -10%;
    top: 70%;
    overflow: hidden;
    padding-bottom: 10%;
  }
  
  #album-info {
    width: 65%;
    font-size: 16px;
    background-color: white;
    padding: 10px;
    margin: 0;
    border-radius: 25px;
    box-shadow: 3px 5px 5px 1px #000000aa;
    position: absolute;
    top: 170%;
    right: 3%;
  }
  
  #album-info>p {
    margin: 10px;
  }


}