nav {
  padding-top: 0;
  position: fixed;
  width: 100vw;
  top: 0;
  /* background-color: red; */
  /* min-height: 5%; */
  height: 5vh;
  display: flex;
  align-items: center;
  z-index: 5;
  background: linear-gradient(0deg, rgba(255,255,255,0.15) 0%, rgba(255,255,255,0.7) 100%);
}

#nav-ul {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 0;
}

.navlink {
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: black;
  font-size: 25px;
}

.link:hover {
  text-decoration: underline;
  color: #2E9D29;
}


@media screen and (max-width: 600px) {
  nav {
    height: 8vh;
  }

  .link {
    font-size: 20px;
  }
}
