#carousel {
  display: flex;
  min-height: 65vh;
  max-height: 75vh;
  contain: content;
  min-width: 50vw;
  max-width: 75vw;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.carousel-btn {
  border: none;
  background: none;
  cursor: pointer;
  /* padding: 5%; */
}

.carousel-btn>img {
  max-width: 10vw;
}


#carousel-img {
  max-height: 70%;
  max-width: 80%;
  /* min-height: 100%; */
  /* max-width: 50%; */
  border-radius: 50px;
}

#carousel-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.about-gear {
  height: 25vh;
  position: absolute;
  z-index: 1;
}

.blob-div {
  position: absolute;
  z-index: 2;
  width: 25vw;
  height: 20vh;
  text-align: center;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.big-blob-div {
  position: absolute;
  z-index: 2;
  width: 65%;
  height: 40%;
  text-align: center;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blob-div>p {
  width: 70%;
}
.big-blob-div>p {
  width: 89%;
}

#about-book-btn {
  max-width: 70%;
}

#listen-btn {
  max-width: 70%;
}

#blob-left {
  background-image: url('./blobLeft.png');
  background-size: contain;
  background-repeat: no-repeat;
  top: 2%;
  left: 15%;
}
#big-blob-left {
  background-image: url('./blobLeft.png');
  background-size: contain;
  background-repeat: no-repeat;
  top: 3%;
  left: 16%;
}

#blob-right {
  background-image: url('./blobRight.png');
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 3%;
  right: 15%;
}
#big-blob-right {
  background-image: url('./blobRight.png');
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 2%;
  right: 16%;
}

#gear-left {
  top: -2%;
  left: 0;
}

#gear-right {
  bottom: -2%;
  right: 0px;
}

.moreLess {
  color: #2E9D29;
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  #carousel {
    width: 100vw;
  }


  #carousel-img {
    max-height: 55vh;
    max-width: 70vw;
    /* max-width: 50%; */
    border-radius: 50px;
  }
  

  #gear-left {
    top: 0vh;
    left: 0;
  }
  
  #gear-right {
    bottom: 0vh;
    right: 0;
  }
}