#footer {
  position: fixed;
  z-index: 5;
  bottom: 0;
  background-color: black;
  width: 100%;
  height: 10vh; /* Reduced height */
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 1vmin 0; /* Reduced padding */
}

#footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  justify-content: space-between;
}

#footer-contact > * {
  margin: 0;
}

#footer-contact > h2 {
  font-size: 2.5vmin; /* Reduced font size */
  font-weight: 300;
}

#footer-contact > p > a {
  text-decoration: none;
  color: white;
  font-weight: 200;
  font-size: 2vmin; 
}

#footer-contact > p > a:hover {
  text-decoration: underline;
}

#footer-socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#footer-socials > h2 {
  font-size: 2.5vmin; /* Reduced font size */
  font-weight: 300;
  margin: 0;
}

.socials-a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#socialsLink-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.socialsLink {
  min-width: 4vmin; /* Further reduced size */
  max-width: 6vmin; /* Further reduced size */
}

@media screen and (max-width: 900px) {
  #footer {
    padding: 2vmin 0; /* Reduced padding */
  }

  #footer-contact > * {
    margin: 0;
  }
  
  #footer-contact > h2 {
    font-size: 2.5vmin; /* Adjusted for smaller screens */
  }
  
  #footer-contact > p > a {
    font-size: 1.2vmin; /* Adjusted for smaller screens */
  }
  
  #footer-socials > h2 {
    font-size: 2.5vmin; /* Adjusted for smaller screens */
  }
}

@media screen and (max-width: 600px) {
  #footer {
    padding: 2vmin 0; /* Reduced padding */
  }
  
  #footer-contact > * {
    margin: 0;
  }
  
  #footer-contact > h2 {
    font-size: 2vmin; /* Adjusted for smaller screens */
  }
  
  #footer-contact > p > a {
    font-size: 1vmin; /* Adjusted for smaller screens */
  }
  
  #footer-socials > h2 {
    font-size: 2vmin; /* Adjusted for smaller screens */
  }

  .socialsLink {
    min-width: 3vmin; /* Further reduced size for very small screens */
    max-width: 5vmin; /* Further reduced size for very small screens */
  }
}

