#footer {
  position: fixed;
  bottom: 0;
  background-color: black;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  padding: 4vh 0;
}

#footer-contact {
}

#footer-contact> * {
  margin: 0;
}

#footer-contact>h2 {
  padding: 1vmin 0;
}

#footer-contact>p>a {
  text-decoration: none;
  color: white;
}

#footer-contact>p>a:hover {
  text-decoration: underline;
}