*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  /* max-height: 100vh; */
  /* overflow: hidden; */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: black;
  background-color: #DCF8FA;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

